In [2]:
import pandas as pd

In [8]:
premier_league = pd.read_excel(r'D:\Analyst\Python\NumPy_&_Python\Pandas_Course_Resources\project_data\premier_league_games.xlsx')

In [10]:
premier_league.head()

     id             league_name     season  HomeGoals  AwayGoals
0  1729  England Premier League  2008/2009          1          1
1  1730  England Premier League  2008/2009          1          0
2  1731  England Premier League  2008/2009          0          1
3  1732  England Premier League  2008/2009          2          1
4  1733  England Premier League  2008/2009          4          2

In [12]:
premier_league.sum()

id                                                        729030
league_name    England Premier LeagueEngland Premier LeagueEn...
season         2008/20092008/20092008/20092008/20092008/20092...
HomeGoals                                                    532
AwayGoals                                                    410
dtype: object

In [16]:
premier_league.loc[:, ['HomeGoals', 'AwayGoals']].mean()

HomeGoals    1.400000
AwayGoals    1.078947
dtype: float64

In [18]:
premier_league.loc[:, ['HomeGoals', 'AwayGoals']].std()

HomeGoals    1.212512
AwayGoals    1.134296
dtype: float64