In [2]:
import pandas as pd

In [4]:
premier_league = pd.read_excel(r'D:\Analyst\Python\NumPy_&_Python\Pandas_Course_Resources\project_data\premier_league_games_full.xlsx')

In [6]:
premier_league.head()

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2

In [8]:
agg_prem_league = premier_league.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum()

In [18]:
agg_prem_league.head()

                            HomeGoals
season    HomeTeam
2008/2009 Arsenal                  31
          Aston Villa              27
          Blackburn Rovers         22
          Bolton Wanderers         21
          Chelsea                  33

In [32]:
agg_prem_league.loc[("2008/2009", "Arsenal"): ("2008/2009", "Bolton Wanderers")]

                            HomeGoals
season    HomeTeam
2008/2009 Arsenal                  31
          Aston Villa              27
          Blackburn Rovers         22
          Bolton Wanderers         21

In [46]:
agg_prem_league.iloc[:4]

                            HomeGoals
season    HomeTeam
2008/2009 Arsenal                  31
          Aston Villa              27
          Blackburn Rovers         22
          Bolton Wanderers         21

In [50]:
agg_prem_league.iloc[-1]

HomeGoals    34
Name: (2015/2016, West Ham United), dtype: int64

In [54]:
agg_prem_league = premier_league.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']})

agg_prem_league.head()

                           HomeGoals
                                 sum      mean
season    HomeTeam
2008/2009 Arsenal                 31  1.631579
          Aston Villa             27  1.421053
          Blackburn Rovers        22  1.157895
          Bolton Wanderers        21  1.105263
          Chelsea                 33  1.736842

In [76]:
agg_prem_league.loc["2010/2011",("HomeGoals","mean")]

HomeTeam
Arsenal                    1.736842
Aston Villa                1.368421
Birmingham City            1.000000
Blackburn Rovers           1.157895
Blackpool                  1.578947
Bolton Wanderers           1.789474
Chelsea                    2.052632
Everton                    1.631579
Fulham                     1.578947
Liverpool                  1.947368
Manchester City            1.789474
Manchester United          2.578947
Newcastle United           2.157895
Stoke City                 1.631579
Sunderland                 1.315789
Tottenham Hotspur          1.578947
West Bromwich Albion       1.578947
West Ham United            1.263158
Wigan Athletic             1.157895
Wolverhampton Wanderers    1.578947
Name: (HomeGoals, mean), dtype: float64

In [80]:
agg_prem_league.loc["2008/2009",("HomeGoals","mean")]

HomeTeam
Arsenal                 1.631579
Aston Villa             1.421053
Blackburn Rovers        1.157895
Bolton Wanderers        1.105263
Chelsea                 1.736842
Everton                 1.631579
Fulham                  1.473684
Hull City               0.947368
Liverpool               2.157895
Manchester City         2.105263
Manchester United       2.263158
Middlesbrough           0.894737
Newcastle United        1.263158
Portsmouth              1.368421
Stoke City              1.157895
Sunderland              1.105263
Tottenham Hotspur       1.105263
West Bromwich Albion    1.368421
West Ham United         1.210526
Wigan Athletic          0.894737
Name: (HomeGoals, mean), dtype: float64