In [2]:
import pandas as pd

In [4]:
premier_league = pd.read_excel(r'D:\Analyst\Python\NumPy_&_Python\Pandas_Course_Resources\project_data\premier_league_games_full.xlsx')

In [6]:
premier_league.head()

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2

In [18]:
premier_league.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']").pivot_table(
                           index="HomeTeam",
                           columns="season",
                           values="HomeGoals",
                           aggfunc="mean",
                           margins=True).style.background_gradient(cmap="RdYlGn", axis=None)

In [20]:
premier_league.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']").pivot_table(
                           index="HomeTeam",
                           columns="season",
                           values="HomeGoals",
                           aggfunc="mean",
                           margins=True).style.background_gradient(cmap="RdYlGn", axis=1)

In [22]:
premier_league.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']").pivot_table(
                           index="HomeTeam",
                           columns="season",
                           values="HomeGoals",
                           aggfunc="mean",
                           margins=True).style.background_gradient(cmap="RdYlGn", axis=0)